.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 10px;
  text-align: center;
  position: relative;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.logo-text {
  margin-top: 30px;
  font-size: 14px;
  color: #888;
}

.divider {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  width: 100%;
}

.divider.full-width {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.main-buttons,
.additional-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sidebar-button {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.sidebar-button:hover {
  background-color: #e9e9e9;
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.account-info {
  width: 90%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: auto;
  margin-left: 12px;
  margin-right: 12px;
}

.account-info hr.divider {
  border: none; 
  border-top: 1px solid #ddd; 
  width: calc(100% + 32px); 
  margin-left: -16px; 
  margin-right: -16px; 
}

.account-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-bottom {
  margin-top: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.account-details {
  display: flex;
  flex-direction: column;
  text-align: left; /* Убедиться, что весь контейнер выровнен по левому краю */
}

.account-name {
  font-weight: bold;
  text-align: left; /* Выровнять текст по левому краю */
}

.account-contact {
  color: #888;
  font-size: 14px;
  text-align: left; /* Выровнять текст по левому краю */
  margin-bottom: 10px; /* Увеличить расстояние между номером и почтой */
}

.account-contact span {
  display: block; /* Каждый элемент на новой строке */
  margin-bottom: 10px; /* Отступ между строками */
}

.additional-buttons {
  margin-bottom: 20px;
  margin-top: 20px;
}